- var fontName = 'Arial'
- var className = 'product'
- var mySkills = ['Html5', 'Css3', 'Javascript', 'Pugjs', 'Sass', 'Php']
- var list = []
- var desc = 'lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum ad amet consequatur ipsa earum quas delectus quisquam sunt vel iste?'
- var h1 = `<h1>Hello Wordl</h1>`
- var h2 = `<h2>Hello Pugjs</h2>`;
- var paragraph = `ipsum dolor sit, amet <strong>consectetur</strong> adipisicing elit. Cum ad amet <b>consequatur</b> ipsa earum quas delectus quisquam sunt vel iste?`